.search-component-container{
  display: flex;
  justify-content:space-between;
  margin-top: 30px;
  padding-bottom: 30px;
  border-bottom: .5px solid #D3D3D3;
}
.search-component-instagram-logo{
  display: flex;
  justify-content: flex-start;

}
.icons{
  height: 34px;
  width: 34px;
  margin-right: 20px;
}

.instagram_icon{
  margin-right: 25px;
}

.instagram_logo{
  height: 40px;
  margin-left: 20px;
}

.vertical_line{
  border-left: 2.5px solid black;
  height: 35px;
}

.search-input {
  color: black;
  font-size: 1.1rem;
  text-align: center;
  height: 15px;
  width: 250px;
  padding: 10px;
  background-color: #FAFAFA;
  background-image: url('./search.png');
  background-position: 7px center;
  background-repeat: no-repeat;
}
